.chat-main
  .group-info
    .header-leftbox
      .group-info__name
        test
      .group-info__menber
        %ul.group-info__menbers
          Menber:
          %li.menber-name tatsuki
          %li.menber-name tatsuki
    .group-info__edit
      =link_to "Edit", "#", class: "group-info__edit__btn"
  .message-list
    .message
      .message__boxs
        .message__boxs__name
          tatuski
        .message__boxs__time
          2020/7/13
      .message__message
        おはよう
    .message
      .message__boxs
        .message__name
          tatuski
        .message__time
          2020/7/13
      .message__message
        おはよう
  .message-form