.side-bar
  .user-name
    .top-items
      .top-items__name
        tatsuki
      .top-items__icon
        = link_to "#", class: "top-items__icon__icon" do
          = icon("far", "edit")
        = link_to "#", class: "top-items__icon__icon" do
          = icon("fas", "cog")
  .group-list
    .group
      .group-name
        ワンピース
      .last-message
        おはよう
    .group
      .group-name
        ワンピース
      .last-message
        おはよう
  